{% extends "base.html" %}
{% load static %}
{% block title %}
About
{% endblock title %}

{% block content %}

  <div class="breadcrumb-bg w3l-inner-page-breadcrumb py-5">
    <div class="container pt-lg-5 pt-md-3 p-lg-4 pb-md-3 my-lg-3">
      <h2 class="title pt-5">About</h2>
      <ul class="breadcrumbs-custom-path mt-3 text-center">
        <li><a href="index.html">Home</a></li>
        <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> About </li>
      </ul>
    </div>
  </div>

  <section class="w3l-about-ab" id="about">
    <div class="midd-w3 py-5">
      <div class="container py-lg-5 py-md-4 py-2">
        <div class="row">
          {% if ourstory %}
            {% for item in ourstory %}
               <div class="col-lg-6 pl-lg-5 align-self">
            <h6 class="title-subhny mb-2"><span>{{item.subtitle}}</span></h6>
            <h3 class="title-w3l mb-4">{{item.title}}</h3>
            <p class="">{{item.body| truncatechars:300 | safe }}</p>
            
            <a href="{% url 'ourstorydetail' item.slug %}" class="btn btn-style btn-primary mt-lg-5 mt-4">Read More</a>
          </div>
          <div class="col-lg-6 left-wthree-img mt-lg-0 mt-5 pl-lg-5">
            <img src="{{item.leadimg.url}}" alt="" class="img-fluid radius-image">

          </div>
            {% endfor %}
          {% endif %}
         
        </div>
      </div>
    </div>
  </section>

  <section class="w3l-specification-6 py-5">
    <!-- /specification-6-->
    <div class="specification-6-mian py-lg-5 py-md-4">
      <div class="container">
        <div class="align-counter-6-inf-cols row">
            {% if basicfuctions %}
            {% for item in basicfuctions %}
          <div class="counter-6-inf-left col-lg-6">

            <h3 class="title-w3l two">{{item.title}}</h3>
          </div>
          <div class="counter-6-inf-right col-lg-6">
            <div class="specification">
              <div class="specification-icon">
                <span class="fa fa-linode"></span>
              </div>
              <div class="specification-info">
                <h6><a href="blog-single.html">{{item.title1}}</a></h6>
                <p>{{item.text1| truncatechars:100 | safe }}</p>
              </div>

            </div>
            <div class="specification">
              <div class="specification-icon">
                <span class="fa fa-tint"></span>
              </div>
              <div class="specification-info">
                <h6><a href="blog-single.html">{{item.title2}}</a></h6>
                <p>{{item.text2| truncatechars:100 | safe }}</p>
              </div>

            </div>
            <div class="specification">
              <div class="specification-icon">
                <span class="fa fa-binoculars"></span>
              </div>
              <div class="specification-info">
                <h6><a href="blog-single.html">{{item.title3}}</a></h6>
                <p>{{item.text3| truncatechars:100 | safe }}</p>
              </div>

            </div>
            <div class="specification last-one">
              <div class="specification-icon">
                <span class="fa fa-podcast"></span>
              </div>
              <div class="specification-info">
                <h6><a href="blog-single.html">{{item.title4}}</a></h6>
                <p>{{item.text4| truncatechars:100 | safe }}</p>
              </div>

            </div>

          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <div class="w3l-middle py-5">
    <div class="container py-lg-5 py-md-4">
      {% if moreinfo %}
        {% for item in moreinfo %}
      <div>
        <h6 class="title-subhny two mb-2"><span>{{item.subtitle}}</span></h6>
        <h3 class="title-w3l two mb-4">{{item.title}}</h3>
        <p class="pr-lg-5">{{item.body| truncatechars:300 | safe }}</p>
        <div class="buttons mt-md-5 mt-4">
          <a class="btn btn-style btn-white mr-3" href="{% url 'moreinfodetail' item.slug %}">
            Read More <span class="fa fa-angle-double-right ml-2" aria-hidden="true"></span></a>
        
        </div>
      </div>
      {% endfor %}        
        {% endif %}
    </div>
  </div>

  <section class="w3l-team-main" id="team">
    <div class="team py-5">
      <div class="container py-lg-5">
        <div class="row team-row">
          <div class="col-lg-6 team-wrap">
            {% if ourteamtext %}
            {% for item in ourteamtext %}
            <div class="title-content text-left">
              <h6 class="title-subhny mb-2"><span>{{item.subtitle}}</span></h6>
              <h3 class="title-w3l mb-4">{{item.title}}</h3>
              <p>{{item.text| truncatechars:300 | safe }}</p>
            </div>
            {% endfor %}        
            {% endif %}
          </div>
          {% if ourteam %}
            {% for item in ourteam %}
          <div class="col-lg-3 col-6 team-wrap mb-lg-5 mb-4 mt-lg-0 mt-5">
                       
            <div class="team-member text-center">
              <div class="team-img">
                <img src="{{item.img.url}}" alt="" class="radius-image">
                <div class="overlay-team">
                  <div class="team-details text-center">
                    <div class="socials mt-20">
                      <a href="#url">
                        <span class="fa fa-facebook-f"></span>
                      </a>
                      <a href="#url">
                        <span class="fa fa-twitter"></span>
                      </a>
                      <a href="#url">
                        <span class="fa fa-instagram"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <a href="#url" class="team-title">{{item.title}}</a>
              <p>{{item.post}}</p>
            </div>
            
          </div>
{% endfor %}        
            {% endif %}
        </div>
      </div>
  </section>

{% endblock content %}